@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading1 {
    @apply font-montserrat text-HM tracking-tight2 md:text-HM font-black;
  }
  .heading2 {
    @apply font-montserratblack text-HM tracking-tight3 md:text-HM font-black outline_text;
  }
  .subheading1 {
    @apply font-montserrat text-SH font-semibold tracking-normal;
  }
  .subheading2 {
    @apply font-montserrat text-SH font-medium tracking-normal;
  }
  .button {
    @apply font-montserrat text-BTN tracking-tight1 font-semibold;
  }
  .body {
    @apply font-montserrat text-BDY font-normal tracking-normal;
  }
  .smallbody {
    @apply font-montserrat text-SBDY font-normal tracking-normal;
  }
}

@layer base {
  @font-face {
    font-family: "Montserrat-Black";
    src: url("/fonts/Montserrat-Black.ttf") format("truetype");
  }
  .outline_text {
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f6490d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f6493d;
  }
}
